<section class="block copy {% if block.cardDisplay %}copy--card{% endif %}">
    {% if block.heading %}
        <h3 class="copy-heading">{{ block.heading }}</h3>
    {% endif %}
    <div class="copy-copy">{{ block.copy }}</div>
</section>